

<%= render "shared/admin_header" %>

<div class = "container">

	<div class = "row">

		<div class="title">配車予約カレンダー</div>
		<div class="btn1"><%= link_to "配車予約", new_admins_reservation_path, class: "btn btn-danger" %></div>

	</div>


	<div class= "row">


		<%= month_calendar events: @reservations do |date, reservations| %>
			<%= date.day %>

			<% reservations.each do |reservation| %>
				<div>
					<%= link_to admins_reservation_path(reservation.id) do %>
					<%= reservation.car.name %><br>
					<%= reservation.start_time.strftime("%H:%M") %>〜<%= reservation.finish_at.strftime("%H:%M") %>
					<% end %>
				</div>
			<% end %>

		<% end %>

	</div>

</div>