
<%= render "shared/admin_header" %>

<div class = "container">

  <% if @reservation.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(@reservation.errors.count, "error") %></h4>
      <p><%= pluralize(@reservation.errors.count, "error") %> prohibited this object from being saved: not successfully</p>
      <hr>
        <p class="mb-0">
        <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </p>
    </div>
  <% end %>

  <div class = "row">

  	<div class="col-xs-7">

  		<div class="title">配車 予約</div>

  		<%= form_for @reservation, url: admins_reservations_path, method: :post do |f| %>


      <table class="table" id="none-border">

          <tbody>

            <tr>
              <td><%= f.label :construction_site, "現場名" %></td>
              <td><%= f.collection_select(:construction_site_id, ConstructionSite.all, :id, :name,:prompt => "選択してください") %></td>
            </tr>

            <tr>
              <td><%= f.label :car, "車種選択" %></td>
              <td><%= f.collection_select(:car_id, Car.where(still_run: true), :id, :name,:prompt => "選択してください") %></td>
            </tr>

            <tr>
              <td><%= f.label :時間 %></td>
              <td><%= f.datetime_select :start_time, {default: Date.today + 8.hour}, minute_step: 30 %>
                  <%= "〜" %>
                  <%= f.datetime_select :finish_at, {default: Date.today + 17.hour}, minute_step: 30 %></td>
            </tr>

            <tr>
              <td><%= f.label :作業内容 %></td>
              <td><%= f.text_field :content %></td>
            </tr>

          </tbody>

      </table>

  		<div class = "btn1"><%= f.submit "予約", class: "btn btn-primary" %></div>

  		<% end %>

  	</div>

  </div>

</div>