
<%= render "shared/admin_header" %>

<div class = "container">

	<div class= "row">

    	<div class="title">現場写真詳細</div>

    		<div class="col-xs-6">

				<div class="genba-photo">
          			<%= attachment_image_tag @photo, :image, :fill, 500,500 %>
          		</div>

          	</div>

          	<div class="col-xs-6">

          		<table class="table">

      				<tbody>

        				<tr>
          					<th>投稿日付</th>
          					<td><%= @photo.created_at.strftime('%Y/%m/%d')  %></td>
        				</tr>

        				<tr>
          					<td>現場名</td>
          					<td><%= @photo.construction_site.name %></td>
        				</tr>

        				<tr>
          					<td>写真説明</td>
          					<td><%= @photo.explanation %></td>
        				</tr>


        			</tbody>

        		</table>

        		<%= link_to "戻る", admins_construction_site_path(@photo.construction_site.id), class: "btn btn-primary" %>

        	</div>


    </div>

</div>

