
<%= render "shared/admin_header" %>

<div class = "container">

	<div class = "row">

		<div class="title"><%= @user.family_name %><%= @user.first_name %>さんの出勤簿</div>

	</div>


	<div class= "row">

		<% @count_thismonth = 0 %>

		<%= month_calendar events: @attendance_records do |date, attendance_records| %>
			<%= date.day %>

			<% attendance_records.each do |attendance_record| %>
				<div>
					<%= link_to admins_attendance_record_path(attendance_record.id) do %>
					<%= attendance_record.start_time.strftime("%H:%M") %>〜<%= attendance_record.finish_at.strftime("%H:%M") %><br><%= attendance_record.construction_site.name %>


					<!-- 今月の出勤日数 -->
    				<% if Time.new.month == attendance_record.start_time.month %>
    				<% @count_thismonth = @count_thismonth + 1 %>
    				<% end %>
    				<!-- 今月の出勤日数 -->

					<% end %>
				</div>
			<% end %>

		<% end %>

		<!--
		<%= @attendance_records.size %>
		<div>今月の出勤日数は<%= @count_thismonth %>日間</div>
		-->

	</div>

</div>