
<%= render "shared/user_header" %>

<div class = "container">

	<div class= "row">

  		<div class="col-xs-11">

    		<div class="title">現場一覧</div>

		<table style="margin-top:15px">

	    	<thead class = "thead-light">
	    		<tr class="active">
		    		<th style="width:15%">現場番号</th>
		    		<th style="width:25%">現場名</th>
		    		<th style="width:30%">現場住所</th>
		    		<th style="width:15%">　</th>
		    		<th style="width:15%">　</th>
		  		</tr>
	    	</thead>

	  		<% @construction_sites.each do |construction_site| %>
	    	<tbody>
				<tr>
		    		<td><%= construction_site.id %></td>
					<td><%= construction_site.name %></td>
					<td><%= construction_site.address %></td>
					<td><%= link_to "詳細",users_construction_site_path(construction_site.id), class: 'btn btn-primary' %></td>
					<td><%= link_to "現場日報",calendar_users_daily_report_path(construction_site.id), class: 'btn btn-primary' %></td>
				</tr>
			</tbody>
			<% end %>
		</table>


		</div>
	</div>

</div>
