
<%= render "shared/user_header" %>

<div class = "container">

	<div class= "row">

  		<div class="col-xs-4">

        <div class="title">現場詳細</div>

        <table class="table">
          <tbody>
            <tr>
              <td>現場名</td>
              <td><%= @construction_site.name %></td>
            </tr>

            <tr>
              <td>現場住所</td>
              <td><%= @construction_site.address %><%= link_to "MAP",map_users_construction_site_path(@construction_site.id),class: 'btn btn-primary btn-sm' %></td>
            </tr>

            <tr>
              <td>元請け業者</td>
              <td><%= @construction_site.prime_contractor %></td>
            </tr>

            <tr>
              <td>現場職長</td>
              <td><%= @construction_site.foremen %></td>
            </tr>

            <tr>
              <td>現在の工程</td>
              <td><%= @construction_site.process %></td>
            </tr>


            <tr>
              <td>工期</td>
              <td><%= @construction_site.period.strftime("%Y-%m-%d") %> 〜 <%= @construction_site.period_end.strftime("%Y-%m-%d") %>（予定）</td>
            </tr>

            <tr>
              <td>その他</td>
              <td><%= @construction_site.caution %></td>
            </tr>

            </tbody>
        </table>

        <div class="btn1"><%= link_to "編集する",edit_users_construction_site_path, class: 'btn btn-primary' %></div>

        <div class="btn2"></div>

      </div>

      <div class="col-xs-8">

        <div class="title">現場写真 &emsp; <%= link_to "写真を追加する",new_users_photo_path, class: 'btn btn-primary' %></div>

        <% @photos.each do |photo| %>

        <div class="col-xs-4">
          <% if photo.construction_site.id == @construction_site.id %>
          <div class="img-thumbnail">
            <%= attachment_image_tag photo, :image, :fill, 200,200 %>
          </div>
          <% end %>
          </div>

        <% end %>
      </div>

  </div>

</div>












