
<%= render "shared/admin_header" %>

<div class = "container">

  <div class = "row">

  <div class="col-xs-7">

  <div class="title">現場 新規登録</div>

  <%= form_for @construction_site, url: admins_construction_sites_path(current_admin.id) do |f| %>

  <table class="table" id="none-border">

    <tbody>

      <tr>
        <td><%= f.label :現場名 %></td>
        <td><%= f.text_field :name %></td>
      </tr>

      <tr>
        <td><%= f.label :現場住所 %></td>
        <td><%= f.text_field :address %></td>
      </tr>

       <tr>
        <td><%= f.label :元請け業者 %></td>
        <td><%= f.text_field :prime_contractor %></td>
      </tr>

      <tr>
        <td><%= f.label :現場職長 %></td>
        <td><%= f.text_field :foremen %></td>
      </tr>

      <tr>
        <td><%= f.label :工期 %></td>
        <td><%= raw sprintf(f.date_select(:period, start_year: Time.now.year,end_year: (Time.now.year + 10),default: Date.new, date_separator:'%s'),'年','月')+'日' %>&emsp;から<br><%= raw sprintf(f.date_select(:period_end, start_year: Time.now.year,end_year: (Time.now.year + 10),default: Date.new, date_separator:'%s'),'年','月')+'日' %>&emsp;まで</td>
      </tr>

      <tr>
        <td><%= f.label :その他 %></td>
        <td><%= f.text_field :caution %></td>
      </tr>


  </tbody>

  </table>

  <div class = "btn1"><%= f.submit "新規登録", class: "btn btn-primary" %></div>

  <% end %>

  </div>

  </div>

</div>