
<%= render "shared/admin_header" %>

<div class = "container">

	<% if @machine.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(@machine.errors.count, "error") %></h4>
      <p><%= pluralize(@machine.errors.count, "error") %> prohibited this object from being saved: not successfully</p>
      <hr>
        <p class="mb-0">
        <% @machine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </p>
    </div>
  	<% end %>

	<div class= "row">

  		<div class="col-xs-6">

  			<div class="title">機械・機材追加</div>

			<%= form_for @machine, url: admins_machines_path do |f| %>

			<div class="field form-group">
        		<%= f.label :name, "機械・機材名" %>
        		<%= f.text_field :name, class: "form-control" %>
      		</div>

      		<div class="field form-group">
        		<%= f.label :construction_site, "現場名" %><br>
        		<%= f.collection_select(:construction_site_id, ConstructionSite.all, :id, :name,:prompt => "選択してください") %>
      		</div>

      		<div class="btn1">
      			<%= f.submit "新規登録", class: "btn btn-primary" %>
      		</div>

      		<% end %>

  		</div>
  	</div>

	<div class= "row">

  		<div class="col-xs-11">

    		<div class="title">機械・機材一覧</div>

    		<div class="searsh">
				<%= form_tag(admins_machines_path,:method => 'get') do %>
				<label>機械名 絞り込み検索</label>
  				<%= text_field_tag :search, params[:search] %>
  				<%= submit_tag '検索', :name => nil %>
  				<% end %>
			</div>

		<table class="table table-hover">

	    	<thead class = "thead-light">
	    		<tr class="active">
		    		<th style="width:20%">機械・機材名</th>
		    		<th style="width:20%">現在地</th>
		    		<th style="width:10%">状態</th>
		    		<th style="width:20%">移動先選択</th>
		    		<th style="width:20%">状態選択</th>
		    		<th style="width:10%">　</th>
		  		</tr>
	    	</thead>

	  		<% @machines.each do |machine| %>
	    	<tbody>
				<tr>
		    		<td><%= machine.name %></td>
					<td><%= machine.construction_site.name %></td>
					<td><% if machine.need_repair == false %>
						可動可
						<% else %>
						要修理
						<% end %>
					</td>

					<td>
						<%= form_for machine, url: admins_machine_path(machine) do |f| %>
						<%= f.collection_select(:construction_site_id, ConstructionSite.all, :id, :name) %></td>
					<td>
						<%= f.select :need_repair, {可動可: 0, 要修理: 1}, class: "form-control" %>
					</td>
					<td><%= f.submit '更新',class: 'btn btn-primary' %><% end %></td>

				</tr>
			</tbody>
			<% end %>
		</table>

		</div>

		<div class="text-center"><%= paginate @machines %></div>

	</div>

</div>
