<script src="https://kit.fontawesome.com/ed00617fa7.js" crossorigin="anonymous"></script>

<div class="navbar navbar-fixed-top" role="navigation">

<div class="sitename">
  <div class="container-fluid">
    <h2>&emsp;&emsp;<%= link_to admins_root_path, :style=>"color:white;" do %>GENBA-MASTER<% end %></h2>
  </div>
</div>

    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav na-tabs nav-justified">

          <% if admin_signed_in? %>
          <li>
            <%= link_to admins_users_path, :style=>"color:black;" do %>
            <i class="fas fa-user">従業員一覧</i>
            <% end %>
          </li>
          <li>
            <%= link_to admins_construction_sites_path, :style=>"color:black;" do %>
            <i class="fas fa-hard-hat">現場一覧</i>
            <% end %>
          </li>
          <li>
            <%= link_to admins_machines_path, :style=>"color:black;" do %>
            <i class="fas fa-tools">機械・機材一覧</i>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, class: 'up', method: :delete, :style=>"color:black;" do %>
            <i class="fas fa-sign-out-alt">ログアウト</i>
            <% end %>
          </li>


          <% else %>

          <li>
            <%= link_to new_admin_session_path, :style=>"color:black;" do %>
            <i class="fas fa-sign-in-alt">ログイン</i>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, :style=>"color:black;" do %>
            <i class="fas fa-user">従業員の方はこちら</i>
            <% end %>
          </li>

          <% end %>
        </ul>
      </div>
    </div>
</div>

</header>




<footer class="navbar navbar-fixed-bottom"></footer>
