<script src="https://kit.fontawesome.com/ed00617fa7.js" crossorigin="anonymous"></script>

<div class="navbar navbar-fixed-top" role="navigation">

<div class="sitename_admin">
  <div class="container-fluid">
    <div class="parent">
      <h2>&emsp;&emsp;<%= link_to admins_root_path, :style=>"color:white;" do %>GENBA-MASTER<% end %></h2>
        <% if admin_signed_in? %>
        <% else %>
          <div class="welcome">
            <%= link_to new_user_session_path, :style=>"color:white;" do %>
            <i class="fas fa-user">従業員の方はこちら</i>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>

    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav na-tabs nav-justified">

          <% if admin_signed_in? %>

          <li>
            <%= link_to admins_users_path, :style=>"color:black;" do %>
            <i class="fas fa-user">&ensp;従業員一覧</i>
            <% end %>
          </li>

          <li>
            <%= link_to admins_construction_sites_path, :style=>"color:black;" do %>
            <i class="fas fa-hard-hat">&ensp;現場一覧</i>
            <% end %>
          </li>

          <li>
            <%= link_to admins_machines_path, :style=>"color:black;" do %>
            <i class="fas fa-tools">&ensp;機械・機材一覧</i>
            <% end %>
          </li>

          <li>
            <%= link_to admins_cars_path, :style=>"color:black;" do %>
            <i class="fas fa-truck">&ensp;車両一覧</i>
            <% end %>
          </li>

          <li>
            <%= link_to admins_reservations_path, :style=>"color:black;" do %>
            <i class="fas fa-truck-loading">&ensp;配車予約カレンダー</i>
            <% end %>
          </li>

          <li>
            <%= link_to admins_uploader_index_path, :style=>"color:black;" do %>
            <i class="fas fa-file-pdf">&ensp;PDF共有</i>
            <% end %>
          </li>

          <li>
            <%= link_to destroy_admin_session_path, class: 'up', method: :delete, :style=>"color:black;" do %>
            <i class="fas fa-sign-out-alt">&ensp;ログアウト</i>
            <% end %>
          </li>

          <% end %>

        </ul>
      </div>
    </div>
  </div>





<footer class="navbar navbar-fixed-bottom", style="background-color: #000000;"></footer>
