
<header class="navbar navbar-fixed-top", style="background-color: #99CCFF;">
    <div class="container">

      <nav class="nav navbar-nav navbar-left">
        <span style="font-size: 35px;">
          <% if user_signed_in? %>
            <%= link_to '現場管理',users_root_path %></span>
          <% else %>
            現場管理
          <% end %>
      </nav>

      <nav>
        <ul class="nav navbar-nav navbar-right">
          <!--if文でサインインとアウト時の表示を変更-->
          <% if user_signed_in? %>
          <li><%= link_to "マイページ", users_user_path(current_user.id) %></li>
          <li><%= link_to "打刻・日報", users_root_path %></li>
          <li><%= link_to "現場一覧", users_construction_sites_path %></li>
          <li><%= link_to "機械・機材一覧", users_machines_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>


          <% else %>


          <li><%= link_to "ログイン", new_user_session_path%></li>
          <li><%= link_to "管理者の方はこちら", new_admin_session_path%></li>

          <% end %>
        </ul>
      </nav>

    </div>
  </header>
  <!--ヘッダーの記述-->


  <footer class="navbar navbar-fixed-bottom", style="background-color: #99CCFF;">

  </footer>

</body>

</html>
