
<%= render "shared/user_header" %>

<div class = "container">

  <div class="title">日報編集</div>

	<div class= "row">

  		<div class="col-xs-5">

        <table class="table">
          <tbody>

          <%= form_for @daily_report, url: users_daily_report_path do |f| %>

            <tr>
        		  <td>日付</td>
              <td><%= raw sprintf(f.date_select(:start_time	, start_year: Time.now.year, end_year: (Time.now.year + 10),default: Date.new, date_separator:'%s'),'年','月')+'日' %></td>
            </tr>

            <tr>
        		  <td>現場名</td>
        		  <td><%= f.collection_select(:construction_site_id, ConstructionSite.all , :id, :name,:prompt => "選択してください") %></td>
            </tr>

            <tr>
              <td>作業内容</td>
          		<td><%= f.text_field :content %></td>
            </tr>

            <tr>
              <td>その他</td>
              <td><%= f.text_field :etcetera %></td>
            </tr>

          </tbody>
        </table>

      </div>

      <div class="col-xs-5">

        <table class="table">
          <tbody>

            <tr>
        		  <td>自社作業員名</td>
              <td><%= f.text_field :company_people %></td>
            </tr>

            <tr>
              <td>手元工（人）</td>
              <td><%= f.select :care_people, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]%></td>
            </tr>

            <tr>
              <td>とび工（人）</td>
              <td><%= f.select :scaffold_people, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]%></td>
            </tr>

            <tr>
              <td>内装工（人）</td>
              <td><%= f.select :interior_people, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]%></td>
            </tr>

            <tr>
              <td>警備員（人）</td>
              <td><%= f.select :watchman, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]%></td>
            </tr>

            <tr>
              <td>ゴミ4t車（台）</td>
              <td><%= f.select :garbage_collection_car, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]%></td>
            </tr>

            <tr>
              <td>ゴミ大型車（台）</td>
              <td><%= f.select :big_garbage_collection_car, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]%></td>
            </tr>

            <tr>
              <td>ガラ8t車（台）</td>
              <td><%= f.select :concrete_car, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]%></td>
            </tr>

            <tr>
              <td>ガラ大型車（台）</td>
              <td><%= f.select :big_concrete_car, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]%></td>
            </tr>

            <tr>
              <td>埋め戻し残土大型車（台）</td>
              <td><%= f.select :soil_car, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]%></td>
            </tr>

          </tbody>
        </table>

        <div class="row">

          <div class="col-lg-8">
          </div>

          <div class="col-lg-2">
            <%= f.submit "編集", class: "btn btn-primary" %>
          </div>

        </div>

      		<% end %>

      </div>

  </div>

</div>


