
<%= render "shared/user_header" %>

<div class = "container">

  <div class="title">日報詳細</div>

	<div class= "row">

      <div class="col-xs-4">

        <table class="table">
          <tbody>

            <tr>
              <th>日付</th>
              <td><%= @daily_report.start_time.strftime("%Y-%m-%d") %></td>
            </tr>

            <tr>
              <th>現場名</th>
              <td><%= @daily_report.construction_site.name %></td>
            </tr>

            <tr>
              <th>作業内容</th>
              <td><%= @daily_report.content %></td>
            </tr>

            <tr>
              <th>連絡事項など</th>
              <td><%= @daily_report.etcetera %></td>
            </tr>

          </tbody>
        </table>

      </div>


      <div class="col-xs-4">

        <table class="table">

          <tbody>

          <tr>
            <th>自社</th>
            <td><%= @daily_report.company_people %></td>
          </tr>

          <tr>
            <th>手元工</th>
            <td><%= @daily_report.care_people %>人</td>
          </tr>

          <tr>
            <th>とび工</th>
            <td><%= @daily_report.scaffold_people %>人</td>
          </tr>

          <tr>
            <th>内装工</th>
            <td><%= @daily_report.interior_people %>人</td>
          </tr>

          <tr>
            <th>ガス工</th>
            <td><%= @daily_report.welder %>人</td>
          </tr>

          <tr>
            <th>警備員</th>
            <td><%= @daily_report.watchman %>人</td>
          </tr>

          <tr>
            <th>ゴミ4t車</th>
            <td><%= @daily_report.garbage_collection_car %>台</td>
          </tr>

          <tr>
            <th>ゴミ大型車</th>
            <td><%= @daily_report.big_garbage_collection_car %>台</td>
          </tr>

          <tr>
            <th>ガラ8t車</th>
            <td><%= @daily_report.concrete_car %>台</td>
          </tr>

          <tr>
            <th>ガラ大型車</th>
            <td><%= @daily_report.big_concrete_car %>台</td>
          </tr>

          <tr>
            <th>埋め戻し残土大型車</th>
            <td><%= @daily_report.soil_car %>台</td>
          </tr>

          <tr>
            <th>その他（人工・車）</th>
            <td><%= @daily_report.etcetera_people %></td>
          </tr>

          </tbody>

        </table>

      </div>

    </div>

    <div class="row">

        <div class="col-lg-8">
        </div>

        <div class="col-lg-1">
          <%= link_to "編集する",edit_users_daily_report_path, class: 'btn btn-primary' %>
        </div>

        <div class="col-lg-1">
          <%= link_to "削除する", users_daily_report_path(@daily_report), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
        </div>
</div>




