

<%= render "shared/user_header" %>

<div class = "container">

	<div class = "row">

		<div><%= current_user.family_name %><%= current_user.first_name %>さんの出勤簿</div>

	</div>


	<div class= "row">


		<%= month_calendar events: @attendance_records do |date, attendance_records| %>
			<%= date.day %>

			<% attendance_records.each do |attendance_record| %>
				<div>
					<%= link_to users_attendance_record_path(attendance_record.id) do %>
					<%= attendance_record.start_time.strftime("%H:%M") %>〜<%= attendance_record.finish_at.strftime("%H:%M") %><br><%= attendance_record.construction_site.name %>
					<% end %>
				</div>
			<% end %>

		<% end %>

	</div>

</div>