
<%= render "shared/user_header" %>

<div class = "container">

	<div class= "row">
  		<div class="col-lg-8">

    		<div>
	 			<mark style="font-size: 20px;">打刻</mark>
			</div>

			<%= form_for @attendance_record, url: users_attendance_record_path(@attendance_record.id) do |f| %>

          	<div>
            	<%= f.label :construction_site, "現場名" %><br>
            	<%= f.collection_select(:construction_site_id, ConstructionSite.all , :id, :name,:prompt => "選択してください") %>
          	</div>

      		<div>
      			<%= "出勤" %>
      			<%= f.datetime_select :begin_at, minute_step: 15 %>
        		<%= "〜　退勤" %>
        		<%= f.datetime_select :finish_at, minute_step: 15 %>
      		</div>

      		<%= f.submit "打刻", class: "btn btn-primary" %>

      		<% end %>

  		</div>
  	</div>

</div>
