
<%= render "shared/user_header" %>

<div class = "container">

	<div class= "row">

  		<div class="col-xs-6">

        <div class="title">打刻編集</div>

          <%= form_for @attendance_record, url: users_attendance_record_path(@attendance_record.id) do |f| %>

          <table class="table">
            <tr>
              <th>現場名</th>
              <td><%= f.collection_select(:construction_site_id, ConstructionSite.all , :id, :name,:prompt => "選択してください") %></td>
          	</tr>

      		  <tr>
              <th><%= "出勤・退勤" %></th>
              <td><%= f.datetime_select :start_time, minute_step: 15 %><br>
                  <%= f.datetime_select :finish_at, minute_step: 15 %></td>
      		  </tr>

          </table>

      		  <%= f.submit "変更を保存", class: 'btn btn-primary col-lg-offset-12' %>

      		<% end %>

  		</div>

  	</div>

</div>
