
<%= render "shared/admin_header" %>

<div class = "container">

    <div class= "row">

        <div class="col-xs-12">

        	<div class="title">現場最新情報</div>

			<% @photos.each do |photo| %>

            <div class="col-xs-4">
                <div class="img-thumbnail">
                    <%= link_to admins_construction_site_path(photo.construction_site.id) do %>
				        <%= attachment_image_tag photo, :image, :fill, 280, 230 %>
                    <% end %>
                    <figure class="caption">
                        <%= photo.created_at.strftime('%Y/%m/%d') %>
                        <%= photo.construction_site.name %><br>
                    </figure>
                </div>
            </div>

            <% end %>

    	</div>

    </div>

    <div class = "paginate"><%= paginate @photos %></div>

</div>
