
<%= render "shared/user_header" %>

<div class = "container">

	<div class= "row">

  		<div class="col-xs-11">

    		<div class="title">機械・機材一覧</div>

    		<div class="searsh">
				<%= form_tag(users_machines_path,:method => 'get') do %>
				<label>機械名 絞り込み検索</label>
  				<%= text_field_tag :search, params[:search] %>
  				<%= submit_tag '検索', :name => nil %>
  				<% end %>
			</div>

		<table class="table table-hover">

	    	<thead class = "thead-light">
	    		<tr class="active">
		    		<th style="width:20%">機械・機材名</th>
		    		<th style="width:20%">現在地</th>
		    		<th style="width:10%">状態</th>
		    		<th style="width:20%">移動先選択</th>
		    		<th style="width:20%">状態選択</th>
		    		<th style="width:10%">　</th>
		  		</tr>
	    	</thead>

	  		<% @machines.each do |machine| %>
	    	<tbody>
				<tr>
		    		<td><%= machine.name %></td>
					<td><%= machine.construction_site.name %></td>
					<td><% if machine.need_repair == false %>
						可動可
						<% else %>
						要修理
						<% end %>
					</td>
					<td><%= form_for machine, url: users_machine_path(machine) do |f| %>
						<%= f.collection_select(:construction_site_id, ConstructionSite.all, :id, :name) %></td>
					<td>
						<%= f.select :need_repair, {可動可: 0, 要修理: 1}, class: "form-control" %>
					</td>
					<td><%= f.submit '更新',class: 'btn btn-primary' %><% end %></td>

				</tr>
			</tbody>
			<% end %>
		</table>

		</div>

		<div class = "paginate"><%= paginate @machines %></div>

	</div>

</div>
