
<%= render "shared/admin_header" %>


<div class = "container">

  <div class = "row">
      <div class="title">従業員 新規登録</div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <table class="table" id="none-border">

    <tbody>

      <tr>
        <td><%= f.label :名前 %></td>
        <td><%= f.label :姓 %>
          <%= f.text_field :family_name %>
        </td>

        <td><%= f.label :名 %>
          <%= f.text_field :first_name %>
        </td>
      </tr>

      <tr>
        <td><%= f.label :フリガナ %></td>
        <td><%= f.label :ｾｲ %>
          <%= f.text_field :family_name_kana %>
        </td>

        <td><%= f.label :ﾒｲ %>
          <%= f.text_field :first_name_kana %>
        </td>
      </tr>

       <tr>
        <td><%= f.label :メールアドレス %></td>
        <td>&emsp;&ensp;<%= f.email_field :email %></td>
        <td></td>
      </tr>

      <tr>
        <td><%= f.label :住所 %></td>
        <td>&emsp;&ensp;<%= f.text_field :address %></td>
        <td></td>
      </tr>

      <tr>
        <td><%= f.label :電話番号 %> </td>
        <td>&emsp;&ensp;<%= f.text_field :telephone_number %></td>
        <td></td>
      </tr>

      <tr>
        <td><%= f.label :パスワード %></td>
        <td>&emsp;&ensp;<%= f.password_field :password %></td>
        <td></td>
      </tr>

      <tr>
        <td><%= f.label :パスワード（確認用） %></td>
        <td>&emsp;&ensp;<%= f.password_field :password_confirmation %></td>
        <td></td>
      </tr>

    </tbody>

  </table>

  <div class="btn1"><%= f.submit "新規登録", class: "btn btn-success btn-lg" %></div>

  <% end %>

</div>

</div>

